/* Genaral */

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

h1 {
    font-weight: 600;
}

h3 {
    font-weight: 400;
}
/* DESKTOP NAV */
.nav-bars {
    grid-area: 1 / 1;
    background: none;
    width: 100%;
    position: sticky;
    top: 1px;
    height: 10vh;
    z-index: 10;
}

nav, .nav-links{
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.nav-links {
    gap: 7rem;
    list-style: none;
    font-size: 1.5rem;
}

.logo {
    display: flex;
    width: max-content;
    height: 75px;
    gap: 0.5rem;
    margin: auto 0;
    animation: LogoToCorner linear;
    animation-timeline: scroll(root);
    animation-range: 0px 300px;
}

@keyframes LogoToCorner {
    0% {
        transform: translate(calc(50vw - 100px - 100%), calc(50vh - 37.5px)) scale(3);
        z-index: 10;
    }
    65% {
        transform: translate(0, 0) scale(1);
    }
}

.logo a {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    place-items: center;
    width: 100%;
    height: 100%;
}
.logo a:hover {
    color: white;
}
/* WHEN ALIGNING TEXT TO CENTER
.logo .text {
    display: grid;
    place-items: center;

}
*/
.logo img {
    object-fit: contain;
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin: auto;
    flex-shrink: 0;
}

.logo .text {
    flex-shrink: 0;
}




a {
    color: white;
    text-decoration: none;
    text-decoration-color: black;
    font-weight: 600;
}

a:hover {
    color: #9E9C9C;
    text-decoration: none;
    cursor: pointer;
}

#profile {
    display: grid;
    padding: 0;
    height: 100vh;
}

#profile .section-container{
    grid-area: 1 / 1;
    max-height: 100vh;
    background-image: linear-gradient(to top, rgba(255,255,255,0), rgba(0,0,0,0.5));
}

.section-container img {
    display: block;
    object-fit: cover;
    max-width: 100%;
    width: auto;
    height: auto;
    margin: auto;
    z-index: -1;
    
}


/* SECTION */

section {
    padding-top: 4vh;
    height: auto;
    margin: 0;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
    max-height: 100%;
}

.section-container-text {
    max-width: 40%;
    padding: 2.5rem 2.5rem 3rem 5rem;
    font-size: 1.5rem;
}

.section-container p {
    margin-top: 1.5rem;
}

/* GRID GALLERY */

.section-container-gallery {
    max-width: 50%;
    display: grid;
    max-height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    grid-gap: 5px;
    grid-auto-flow: dense;
    padding-top: 4rem;
    padding-bottom: 3rem;
    padding-right: 3.7rem;
    padding-left: 3.7rem;
    align-self: self-end;

}

.section-container-gallery img {
    width: 100%;
    height: 100%;
}

.horizontal {
    grid-column: span 3;
    grid-row: span 2;
}

.vertical {
    grid-row: span 2;
}

.big {
    grid-column: span 3;
    grid-row: span 3;
}

#about .big {
    grid-column: span 2;
    grid-row: span 2;
}

.horizontal-big {
    grid-column: span 3;
    grid-row: span 2;
}



/* ARROW */

.arrow {
    color: white;
    display: flex;
    position: absolute;
    right: 7.5rem;
    bottom: 5rem;
    font-size: 1.2rem;
}

.arrow a {
    display: flex;
    align-items: center;
    text-decoration: underline dotted;
}



/* ABOUT SECTION */

#about {
    background-color: #EDEDED;
}

/* ROOMS */

#rooms {
    background-color: #EDEDED;
    display: grid;
    animation: scrollMulticolor linear;
    animation-timeline: view();
    animation-fill-mode: backwards;
    animation-range: contain 0% exit 100%;
}

@keyframes scrollMulticolor {
    0%   { background-color: #015765; }
    40%   { background-color: #CABCAD; }
    100%   { background-color: #887E7C; }
}
#bedroom1 {
    grid-area: 1 / 1;
}

#rooms .section-container-text {
    grid-area: 1 / 1;
    position: sticky;
    top: 1px;
    z-index: 11;
    height: fit-content;
}

#rooms nav {
    height: fit-content;
    margin-top: 2rem;
    display: inline-flex;
    align-items: center;
    width: 100%;
}

#rooms ul {
    width: 100%;
}

#rooms a {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    line-height: 2;

}

#rooms span {
    display: block;
    background-color: #EDEDED;
    padding: 0.1rem;
    width: 100%;
    flex-shrink: 0;
}

#bedroom1 .section-container-gallery {
    padding-bottom: 0rem;
}

#masterbedroom .section-container-gallery {
    padding-top: 4px;
    padding-bottom: 4px;
}

#bedroom2 .section-container-gallery {
    padding-top: 0rem;
}

#rooms .section-container {
    display: flex;
    justify-content: flex-end;
}

#rooms .section-container-gallery{
    max-width: 50%;
}

/* EXPERIENCES */

#experiences {
    min-height: 100vh;
    background-color: #EDEDED;
}

#experiences .section-container-gallery {
    align-self: center;
}
